In [23]:
from pyspark.sql import SparkSession, StructType, StructField, IntegerType

ImportError: cannot import name StructType

In [2]:
spark = SparkSession.builder.appName('Ops').getOrCreate()

In [21]:
df = spark.read.load("dados/ages.csv",format="csv", sep=",", inferSchema="true", header="false")
df =df.toDF("Nome", "Idade")

In [24]:
df.createTempView('Teste')

In [27]:
spark.sql('select * from Teste where Idade<30').show(10)

+-------+-----+
|   Nome|Idade|
+-------+-----+
|    Joe|   20|
|Hyukjin|   25|
+-------+-----+